ul.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    border: 1px solid #e7e7e7;

}

li.top_nav {
    float: left;
}

li.top_nav a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.top_nav a:hover:not(.active) {
    background-color: #32502E;
}

li.top_nav a.active {
    color: white;
    background-color: #32502E;
}

body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    font-family: "Comic Sans MS",
    "Comic Sans",
    cursive;
}

/* https://www.w3schools.com/css/css_list.asp  */
div.side_menu {
    list-style-type: square;
    position: relative;
    float: right;
    height: 25em;
    width: 25%;
    margin: 0 25;
    overflow: auto;
    border: 0.2em solid #F5EDEB;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);

}

div.about {
    height: 20em;
    margin-bottom: 1em;
    border: 0.2em solid #F5EDEB;
    margin: 0 30% 0 5%;
    padding: 2px 16px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

img.about {
    float: left;
    display: block;
    height: auto;
    width: auto;
    max-height: 250px;
    margin: 2% 4% 2% 0%;

}

div.experience {
    height: 20em;
    margin-bottom: 1em;
    border: 0.2em solid #F5EDEB;
    margin: 0 30% 0 5%;
    padding: 2px 16px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

img.exp {
    float: right;
    display: block;
    height: auto;
    width: auto;
    max-height: 250px;
    margin: 2% 4% 2% 0%;

}

div.skills {
    height: 20em;
    margin-bottom: 1em;
    border: 0.2em solid #F5EDEB;
    margin: 0 30% 0 5%;
    padding: 2px 16px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

img.skills {
    float: left;
    display: block;
    height: auto;
    width: auto;
    max-height: 250px;
    margin: 2% 4% 2% 0%;
}

div.offer {
    height: 20em;
    margin-bottom: 1em;
    border: 0.2em solid #F5EDEB;
    margin: 0 30% 0 5%;
    padding: 2px 16px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

img.offer {
    float: right;
    display: block;
    height: auto;
    width: auto;
    max-height: 250px;
    margin: 2% 0% 2% 0%;

}


h1 {
    color: #32502E;
}

h4 {
    color: #406343;
}

img {
    transform: scaleY(-1);
}

p, li {
    animation-name: rainbowtext;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rainbowtext {
    0% {
        color: red;
        font-size: 20px;
    }

    25% {
        color: orange;
    }

    50% {
        color: yellow;
        font-size: 40px;
        transform: translateX(200px);
    }

    75% {
        color: green;
    }

    85% {
        color: blue
    }

    100% {
        color: purple;
        font-size: 20px;
    }
}