h1 {
    text-align: center;
    font-family: 'UnifrakturMaguntia',
    cursive;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'UnifrakturMaguntia',
    serif;
}


/* from https://www.hongkiat.com/blog/css-better-paragraph/ */
h2+p::first-letter {
    color: black;
    font-weight: bold;
    font-size: 5em;
    padding: 0em 0.2em 0.2em 0.2em;
    display: block;
    float: left;
    line-height: 0.5em;
    font-family: "UnifrakturMaguntia", serif;

}

h3 {
    text-align: center;
    font-family: 'UnifrakturMaguntia',
    serif;
}

h4 {
    text-align: center;
    font-family: Book Antiqua;
}

hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em
}

div.chapter {
    page-break-before: always;
    margin-top: 4em
}

p {
    text-align: justify;
    font-family: Book Antiqua;
    display: block;
}

p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
}

p.noindent {
    text-indent: 0%
}

p.center {
    text-align: center;
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em
}

p.asterism {
    margin-left: 25%;
    text-indent: 0%;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em
}

div.fig {
    display: block;
    margin: 0 auto;
    text-align: center
}

a:link {
    color: blue;
    text-decoration: none
}

a:visited {
    color: blue;
    text-decoration: none
}

a:hover {
    color: red
}


table {
    margin-left: auto;
    margin-right: auto
}


img {
    filter: grayscale(100%);
    width: 50%;
    opacity: 0.8;
    border: 0.4em solid black;
}


body {
    background-image: url("images/background.jpg");
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify
}

.chapters, h2, h3 {
    font-family:serif;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

pre {
    display: block;
    font-family: Book Antiqua;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    
}

.start {
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
}

.boxx {
    border: solid 1px black;
    padding: 1%;
    margin: 1% auto 3% auto;
    max-width: 50%;
}

.boxxx {
    border: none;
    padding: 1%;
    margin: 1% auto 3% auto;
    max-width: 50%
}

